:root,
[data-md-color-scheme="default"] {
  --md-primary-fg-color: #76B900;
  --md-primary-fg-color--light: #8ED100;
  --md-primary-fg-color--dark: #5E9400;
  --md-primary-bg-color: #FFFFFF;
  --md-accent-fg-color: #00B4D8;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #76B900;
  --md-primary-fg-color--light: #8ED100;
  --md-primary-fg-color--dark: #5E9400;
  --md-accent-fg-color: #00B4D8;
}

.md-header {
  background-color: #1B2333;
}

.md-tabs {
  background-color: #1B2333;
}
